body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    text-align: center;
    color: rgb(29,29,31);
}
body > * {
    padding-top: 20px;
    margin: auto;
}
a {
    text-decoration: none;
    color: rgb(0, 113, 227);
}
#navbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 10% 0 10%;
}
#navbar > *{
    padding-inline: 3%;
}
#navbar img {
    vertical-align: middle;
    width: 15px;
}

#navbar a {
    color: white;
}
#navbar a:hover {
    color: rgba(255, 255, 255, 0.8)
}
.blueButton {
    border: none;
    color: white;
    background-color: rgb(0, 113, 227);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}
h1 {
    font-size: 7vw;
}
h2 {
    font-size: 3vw;
}
h3 {
    font-size: 2vw;
}
h5 {
    font-weight: normal;
}
#macbook-horizontal {
    margin: 50px 0 50px 0;
    width: 75%;
}
#newInfo {
    color: rgb(255, 142, 28);
}
#boxes {
    display: flex;
    width: 100%;
}
#boxes div {
    background-color: rgb(242, 242, 242);
    width: 62%;
    margin-inline: 1%;
    padding: 0px;
}
#boxes img {
    margin-top: 50px;
}
#shippingInfo {
    margin-top: 100px;
}
#shippingConditions {
    font-weight: normal;
}
.boxText {
    margin-left: 25%;
    margin-right: 25%;
}
#footer {
    margin-top: 50px;
    text-align: left;
    padding-left: 15%;
    padding-bottom: 50px;
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
}
#footer a {
    color: rgb(81, 81, 84);
    font-weight: bold;
}